<tr id="{{ data.taskForce }}{{ data.godName }}">
    <td class="player"></td>
    <td class="god"><img class="loading" src="src/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="rank"><img class="loading" src="src/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="kda"><img class="loading" src="src/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="conquest leagueWrapper"><img class="loading" src="src/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="joust leagueWrapper"><img class="loading" src="src/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
    <td class="duel leagueWrapper"><img class="loading" src="src/IMG/GIFLOAD/loading.gif" alt="loading" /></td>
</tr>