<h1>général tips</h1>

<h2>compréhension de smite</h2>

<p>Dans smite vous l'avez peut-être remarqué beaucoup de règle s'applique au combat rapprochés,
celle-ci ne sont pas décrite mais on à tous su remarqué par exemple que l'action d'auto attaque
créait un malus de vitesse de déplacement. Ceci n'est pas une obligation mais bien une règle,
plus souple, qu'il n'y parait. Vous avez aussi remarqué les combos "aucun et x / x / x .." ceux-ci
sont difficile à saisir et ne pas être sure de comprendre leurs utilisations amène beaucoup de
joueurs à voir ces choses en détails plus tard, préférer au combat un sort plutôt qu'un combo d'auto attaque
lorsqu'il en possède un. Cette vision est volontairement fausse et l'éxperience m'a permis de
décelé la mécanique et vous permettre de comprendre exactement ce qu'il se passe lorsque vous faites
des sorts et des auto attaques...</p>

<h2>Les techniques cachées</h2>

<h3>Les deux types de combo, deux gameplay différents</h3>

<h4>combo aucun</h4>
<p>les personnages possédant des combo "aucun" regroupe l'intégralité des ADCs, la pluspart des mages,
certains assassins, guerrier et tank.

Ce sont des combo de type 'dps' il implique un maximum de dégats à chaque auto-attaque,
il faut le considéré comme une rotation de sort qui n'a aucun impacte sur l'utilisation des sorts.

Alors y'a-t-il des techniques cachées applicable: en réalité aucune technique directement
ne va pouvoir affecté "positivement" votre combo et vos utilisations de compétences par contre
comprendre les techniques des combos "particulier" vous permettrons de ne plus réalisé les techniques
dite de "noob" qui impacte "négativement" votre combo pouvant même vous rendre totalement impuissant</p>

<h4>combo aucun les impactes négatif</h4>
<p>il faut savoir qu'une auto attaque se réalise toujours en 3 possibles étapes.</p>
<p>I - Il y a dabords une animation pour "incanter" l'auto attaque</p>
<p>II - le parcourt du projectile et/ou l'application du dégat</p>
<p>III - l'animation de fin d'auto attaque</p>
<p>Il faut savoir que tous n'ont pas l'étape I et III, et chaque dieu est unique. Mais j'ai déjà
deux astuces pour vous permettre de décelé exactement ces moments</p>


<h1>tips par dieu</h1>

<h2>agni</h2>
<h2>kumbhakarna</h2>
<p>
    <ul>
        <li>avec son 1 il kumbhakarna peu modifier la direction de son curseur pendant
        son dash, selon la position du sbire touché par rapport à la colision et le degrès
        de rotation de votre curseur, kumbhakarna se verra capable d'envoyer à 360° le sbire.</li>
    </ul>
</p>